.MarkerInput .desc {
    margin-top: 1em;
}

.RouteList {
    overflow-y: auto;
    margin: 1em;
}

.bp3-overlay {
    width:360px;
}

.bp3-popover2 .bp3-popover2-arrow {
    display: none;
}

body {
    background-color: lightblue;
    overflow: hidden;
}

.about {
    width: 50%;
    margin: auto;
    margin-top:5%;
    text-align: center;
}

.functionalityList {
    text-align: left;
}

